# Created by .ignore support plugin (hsz.mobi)
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/*

.circleci/docker/test/db_backup

/composer.phar
/composer.lock
/inc/symfony/
/inc/hautelook/
/inc/mikemclin/
/inc/guzzlehttp/
/inc/wp-cli/
/inc/psr/
/inc/illuminate/
/inc/ralouphie/
/inc/antecedent/
/inc/phpunit/
/inc/nikic/
/inc/phpstan/
/inc/mikehaertl/
/inc/sebastian/
/inc/phpdocumentor/
/inc/mockery/
/inc/phpspec/
/inc/webmozart/
/inc/squizlabs/
/inc/phpmetrics/
/inc/brain/
/inc/vria/
/inc/codeception/
/inc/php-webdriver/
/inc/dg/
/inc/lucatume/
/inc/rmccue/
/inc/hamcrest/
/inc/nesbot/
/inc/wp-coding-standards/
/inc/mustache/
/inc/theseer/
/inc/phar-io/
/inc/voku/
/inc/10quality/
/inc/myclabs/
/inc/doctrine/
/inc/behat/
/inc/zordius/
/inc/spatie/
/inc/yahnis-elsts/
/inc/autoload.php
/inc/composer/
/inc/bin/
/inc/szepeviktor/
/inc/php-stubs/
/docker-env/pmpro-import-members-from-csv.sql
