parameters:
    level: 5
    parallel:
    	maximumNumberOfProcesses: 2
    dynamicConstantNames:
        - E20R_LICENSING_VERSION
        - E20R_LICENSE_SERVER_URL
        - E20R_LICENSING_DEBUG
        - E20R_MISSING_SETTING
        - WP_PLUGIN_DIR
        - PMPRO_VERSION
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
        - '#Parameter .* \$function_to_.* of function .* expects .*callable\(\): mixed.* given\.$#'
        - '#Parameter .* \$level of function pmpro_changeMembershipLevel expects int, array\<string, mixed\> given\.$#'
        - '#Constant PMPRO_VERSION not found\.#'
    scanDirectories:
    	- inc/
    paths:
        - *.php
        - src/
    bootstrapFiles:
    	- class.pmpro-import-members.php
    excludePaths:
        - tests/
