parameters:
    level: 5
    paths:
        - class.pmpro-import-members.php
        - src/
        - src/import
        - src/modules
        - src/validate
    scanDirectories:
    	- inc/wp_plugins/paid-memberships-pro
    bootstrapFiles:
    	- tests/bootstrap.php
    	- class.pmpro-import-members.php
    excludePaths:
        - tests/wpunit
        - tests/unit
        - tests/functional
        - tests/acceptance
        - tests/*/data/*
