parameters:
    level: 5
    ignoreErrors:
        # Uses func_get_args()
        - '#^Function apply_filters(_ref_array)? invoked with [34567] parameters, 2 required\.$#'
    scanDirectories:
    	- inc/
    paths:
        - class.pmpro-import-members.php
        - class-activateutilitiesplugin.php
        - src/
    bootstrapFiles:
    	- class.pmpro-import-members.php
    excludePaths:
        - tests/
